<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap" rel="stylesheet">
    <title>Age App</title>
<link rel="icon" href="imgs/20211102_201520.png">
</head>
<body>

    <div id="container">
        <header>
            <div class="heading">
                <h1> Your Age In Days</h1>
                <hr>
            </div>
        </header>
        <form action="">
        <input type="text" placeholder="Enter your name" maxlength="15" v-model="name">

            <input type="number" placeholder="Enter your age" v-model= "age" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="3">
            <!-- <p v-if= "age < 50">Your Age {{age * 365.5}}</p> -->
            </form>
            <div class="main-btn">
                <button v-on:click="show = !show">CALCULATE</button>
            </div>
            <div class="result">

                <transition name="slide-fade">
                        <p  v-if="show" class="msg"> Welcome {{ name }} &#128151;</p>
                    </transition>

                    <transition name="slide-fade" >
                        <hr v-if="show">
                    </transition>

                <div v-if="age <= 0" class="alert">
                    <transition name="slide-fade">
                        <p v-if="show" >Please Enter Your Real Age </p>
                    </transition>
                </div>
                <div v-if="age >= 70">
                    <transition name="slide-fade">
                        <p v-if="show">R.I.P &#128516; </p>
                    </transition>
                </div>
                <transition name="slide-fade">
                    <p v-if="show" class="days"> You Are {{ ageInDays().toLocaleString() }} days old. </p>
                </transition>
                <transition name="slide-fade">
                    <p v-if="show"> Which Is {{ ageInMonth().toLocaleString() }} months,</p>
                </transition>
                <transition name="slide-fade">
                    <p v-if="show"> And {{ ageInWeeks().toLocaleString() }} weeks.</p>
                </transition>
                <transition name="slide-fade">
                    <p v-if="show"> In Other Words, {{ ageInHours().toLocaleString() }} hours</p>
                </transition>
            </div>



        <!-- <p>welcome Mr {{name}} &#128151;</p> -->
        <footer>
        <p> Made With &#128151 By <a href="https://mostaql.com/u/Zeiad_Samir" target="_blank">Zeiad Samir</a> </p>
        </footer>
    </div>

    <script src="vue.js/vue.js"></script>
    <script>
        var main = new Vue({
            el:"#container",
            data:{
                name:"",
                age:"",
                show:false,
            },
            methods: {
                ageInMonth: function(age){
                    return this.age * 12;
                },
                ageInWeeks : function(age){
                    return this.age * 52;
                },
                ageInDays : function(age){
                    return this.age * 365;
                },
                ageInHours : function(age){
                    return this.age * 8760;
                },


            }

        })
    </script>
</body>
</html>